/* NAVBAR */

.navbar{
    color: white;
    position:fixed;
    top:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);

    z-index:1000;
}

/* logo */

.nav-logo{
    font-size:20px;
    font-weight:bold;
    transition: transform 0.3s ease;
}

.nav-logo:hover {
    transform: scale(1.05);
}

/* links */

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;

    font-size:18px;
    padding:10px 15px;
    border-radius:5px;
    transition: background 0.2s ease;
}

.nav-links a:hover{
    background:rgba(255,255,255,0.2);
}

/* botão de download na navbar */
.nav-links a.btn-download {
    background: white;
    color: black;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s ease, transform 0.2s ease;
}

.nav-links a.btn-download:hover {
    background: #e0e0e0;
    transform: translateY(-2px);
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        padding: 20px 25px; /* Aumenta a altura e as margens da navbar no celular */
    }
}