* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /* ativa o scroll snap vertical */
    scroll-snap-type: y mandatory;

    overflow-y: scroll;
    height: 100vh;
}

.section {

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    color: white;

    /* cada seção "gruda" no topo */
    scroll-snap-align: start;
}

/* cores só para visualizar */

.s1 { background: #1abc9c; }
.s2 { background: #3498db; }
.s3 { background: #9b59b6; }
.s4 { background: #e74c3c; }