body {
    margin: 0;
    background-color: #000000;
    background-image: url('https://wallpapercave.com/wp/wp12479471.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }