body{
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
    font-family: monospace;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    text-align: center;
    font-size: large;
    color: #87CEEB;
    background-color: white;
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.menu ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 2%;
}
.menu ul li{
   padding: 2%;
}

.menu ul li a{
    text-decoration: none;
}
  
img{
    width: 50%;
    margin: 5%;
}
@media (min-width: 768px) {
    img {
        width: 40%;
    }
}