@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:wght@900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
body {
  margin: 0;
  height: 100vh;
  font-family: "Funnel Display", sans-serif;

  background-image: url('https://wallpapercave.com/wp/wp12479471.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar */
.navbar {
  visibility: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0000009a;
  color: white;
  position: relative;
}

/* Logo */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Menu de navegação */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Menu de hambúrguer (visível apenas em telas pequenas) */
.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}
.close-menu{
  visibility: hidden;
}

/* Mobile First: Menu colapsado em telas pequenas */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  /* O menu de navegação ocupará toda a altura da tela */
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateY(0);
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links a {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  /* Estilo para o botão de fechar */
  .close-menu {
    visibility: visible;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    background: none;
    border: none;
  }
}
