*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    height:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    height:100vh;
    overflow-y:scroll;

    scroll-snap-type: y mandatory;
}

.section{
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    scroll-snap-align:start;

    font-size:2rem;
}

.s1{
    background:#1abc9c;
}

.s2{
    background:#000000;
}

.s3{
    background:#9b59b6;
}