html, body{
height:100%;
}

/* container que controla o snap */

.scroll-container{

height:100vh;

overflow-y:scroll;

scroll-snap-type:y mandatory;

}

/* cada página */

.section{

height:90vh;

display:flex;
justify-content:center;
align-items:center;

font-size:4rem;
color:white;

scroll-snap-align:start;

}

/* cores */

.s1{background:#3498db;}
.s2{background:#2ecc71;}